<div class="card rounded-0 mb-5 mt-5">
  <div class="card-body">
    <h4>Create New Employee</h4>
    <p>Add a new employee to your organization. Just fill the information and press the save button.</p>
  </div>
</div>

<%= render 'form', employee: @employee %>
